div.a1{
    margin: auto;
    width: 1170px;

}
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
div.a2{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], #country,#lcity {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

p.a0{
    color:red;
}
div.footer{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px ;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    text-align: center;
}
h2.a6{
   float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
.header {
   color: #4CAF50;
    background-color: #f8f8f8;
padding: 5px;
    text-align: center;
    margin: auto;
    width: 1160px;
}
.active {
    background-color: #98bf21;
}
.table01{
    width: 100%;
    height: 10%;
    background-color: #f2f2f2;
    border: #f2f2f2;
    text-align: center;
    table-layout: fixed;
}
.table01 tr{
    height: 50px;

}
.table01 input,#Inoculation-times,#Vaccination-route,#inoculation-site{
    width: 80%;
    text-align: center;
    height: 80%;
}

.vaccine-search-box {
    background-color: white;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.search-box {
    margin: 10px 20px;
    border: 3px solid black;
    width: min-content;
    border-radius: 5px;
    height: 200px;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: inherit;
    left: inherit;
    background-color: white;
}

.search-keyword-box {
    display: flex;
    flex-direction: row;
    width: 400px;
    /* Ìí¼ÓÏÂß…¿ò */
    border: 1px solid black;
    height: 20%;
}

.search-input {
    width: 80%;
    height: 100%;
}

.search-button {
    width: 20%;
    height: 100%;
    padding: 0;
}

.search-result-box {
    height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
}

.search-result-item {
    padding: 2px 10px;
    background-color: white;
}

.search-result-item:hover {
    background-color: rgb(180, 180, 180);
}

.search-result-item.active {
    background-color: rgb(180, 180, 180);
}

#register{
    border-style: outset;
    border-width: 3px;
    border-radius: 4px;
    margin-right: 40px;
    background-color: #4CAF50;
    padding: 5px;
    width: 60px;
    text-align: center;
  	
}
#register:hover{

    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

